{% extends 'djadmin/base.html' %}

{% load djadmin_tags %}

{% block title %}
    数据表详情 - 后台管理
{% endblock %}

{% block content %}
    <h1 class="page-header">应用 - {{ app_name }} - {{ model_name }}</h1>
    <a href="{% url 'djadmin:table_add' app_name model_name %}"><button class="btn btn-primary">添加</button></a>
    {#  queryset #}
    {% if admin_class.list_filter %}
        <p>
            <form class="navbar-form navbar-left">
                {% for filter_field in admin_class.list_filter %}
                    {% build_option_filter filter_field admin_class %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">过滤</button>
            </form>
        </p>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            {% if admin_class.list_display %}
                {% for display_field in admin_class.list_display %}
                    <th>
                        <a href="?_order={% get_sorted_data display_field current_order_field forloop.counter0 %}{% render_filter_args admin_class %}">
                            {{ display_field }} {% get_sorted_arrow display_field current_order_field forloop.counter0 %}
                        </a>
                    </th>
                {% endfor %}
            {% else %}
                {% build_table_head_name admin_class %}
            {% endif %}
            <!--
            {% build_table_head_name admin_class %}
            -->
        </tr>
        </thead>
        <tbody>
            {% for obj in queryset %}
                <tr>
                    {% build_table_body obj admin_class %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        {% include 'includes/pagination.html' with page=queryset current_order_value=current_order_value %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if queryset.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ queryset.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
            </span>

            {% if queryset.has_next %}
                <a href="?page={{ queryset.next_page_number }}">next</a>
                <a href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}